<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /projects

  #Redirect non-trailing-slashes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !(.*)/$
  RewriteRule ^(.*)$ $1/ [R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} (.*)/$
  RewriteRule ^(.*)/$ projectpage.php?page=$1 [L]
</IfModule>
