/* From http://www.colourlovers.com/palette/418420/Shoot_the_Works */
$primary: #123A70;
$highlight: #274F92;
$secondary: #999999;
$splash: #FB571A;
$background: lighten(#96A8C8,25%);  //Stolen from xkcd
$background_alt: lighten($background,5%);

/* Margins */
$side_margin: 30px;
$tile_size: 250px;
$tile_margin: 15px;
$tile_padding: 5px;

/* Basics/resets */
html, body { height: 100%; margin: 0; padding: 0;}
body { background-color: #fff; color: #000;  }

p {
  color: $primary;
  max-width: 600px;
  margin: 1em auto;
  line-height: 1.4;
}

ul { margin: 0; padding: 0; list-style-type: none; }
li { margin: 0; padding: 0; display: inline; }

@font-face {
  font-family: "Raleway Thin";
  src: local("Raleway Thin"),
  url('../fonts/raleway_thin-webfont.woff'),
  url('../fonts/raleway_thin-webfont.ttf');
  font-weight: thin;
  font-style: thin;
}

/* Classes */
.clearfix { clear: both; }

.right { float: right; }


/* General rules */
a {
  font-weight: bold;
  text-decoration: none;
}
a:visited, a:link {
  color: $primary;
}
a:hover, a:active {
  color: $highlight;
}

body {
  font-family: sans-serif;
  background-color: $background;
  color: #444;
}

h1, h2, h3, h4, h5 {
  color: $highlight;
  margin: 5px 0px;
}
h1, h2 { color: $primary; }

h3, h4, h5 {
  font-weight: normal;
}

/* Specific styles */
#title_main {
  color: $primary;
  font-weight: bold;
}

#title_second {
  color: $secondary;
}

.barelink {
  font-weight: normal;
  color: inherit;
}

.curpage {
  color: $highlight;
  font-weight: bold;
}

#wrapper {
  text-align:left;
  margin: 30px;
}

div[role='main'] {
    padding: $tile_padding;
    background: $background_alt;
    text-align: center;
    max-width: $tile_size*4+($tile_margin+$tile_padding)*2;
    margin: auto;
    @media (max-width: $tile_size*4 + ($tile_margin+$tile_padding+$side_margin)*2) {
      max-width: $tile_size*3+($tile_margin+$tile_padding)*2;
    }
    @media (max-width: $tile_size*3 + ($tile_margin+$tile_padding+$side_margin)*2) {
      max-width: $tile_size*2+($tile_margin+$tile_padding)*2;
    }
    @media (max-width: $tile_size*2 + ($tile_margin+$tile_padding+$side_margin)*2) {
      max-width: $tile_size*1+($tile_margin+$tile_padding)*2;
    }
}

header {
  text-align: center;
  position: relative;
}
footer {
  border-top: 1px solid $highlight;
  position: relative;
}

#title {
  font-family: "Raleway Thin", sans-serif;
  font-size: 2.5em;
  position: relative;
}
#subtitle {
  clear: both;
}
#intro {
  text-align: center;
}

hr {
  border: 0 solid $highlight;
  border-top-width: 1px;
  margin: 1.25em 0;
  width: 50%;
  margin-left: 25%;
}

nav li {
  margin: 0px 2px;
}

header ul {
  display: inline;
}

#topnav {
  font-size: 1em;
  margin-top: 1.5em;
}

#bottomnav {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
}

.articleimg {
  float: left;
  margin: 0px 20px 20px 0px;
}

ul.nav {
  a {
    &:before { content: '['; }
    &:after { content: ']'; }
  }
}

ul.tile_list {
  margin: 15px;
  li {
    z-index: 0;
    position: relative;
    width: 250px;
    height: 250px;
    //margin: 10px;
    float: left;
    border-radius: 5px;
    text-shadow: white 1px 1px;

    a {
      display: block;
      padding: 10px;
      height: 100%;
      box-sizing: border-box;
      .link_summary {
        font-weight: normal;
        color: $primary;
      }
    }

    h2,h3 { margin-top: 0px; }

    .imgcover {
      position: absolute;
      top:0px;
      left:0px;
      background: $background_alt;
      opacity: 0.75;
      width: 250px;
      height: 250px;
      z-index: -1;
      border-radius: 4px;
    }
    &:hover {
      .imgcover {
        opacity: 0.9;
      }
      a {
        color: $highlight;
      }
    }
  }
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear: both;
  }
}

#the_lights {
  position: absolute;
  right:0px;
  top:0px;
  padding: 5px;
  z-index: 10;
  a {
    font-size: 80%;
  }
}

@import "dark";
