/* From http://www.colourlovers.com/palette/418420/Shoot_the_Works */
$primary: #123A70;
$highlight: #274F92;
$secondary: #999999;
$splash: #FB571A;
$background: lighten(#96A8C8,25%);  //Stolen from xkcd

/* Basics/resets */
html, body { height: 100%; margin: 0; padding: 0;}
body { background-color: #fff; color: #000;  }

ul { margin: 0; padding: 0; list-style-type: none; }
li { margin: 0; padding: 0; display: inline; }

@font-face {
  font-family: "Raleway Thin";
  src: local("Raleway Thin"),
  url('../fonts/raleway_thin-webfont.woff'),
  url('../fonts/raleway_thin-webfont.ttf');
  font-weight: thin;
  font-style: thin;
}

/* Vertical centering */

#outer {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

#middle { 
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
}

.ie6 #middle, .ie7 #middle {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.ie6 #wrapper, .ie7 #wrapper {
  position: relative;
  top: -50%;
}

/* Classes */
.clearfix { clear: both; }

.right { float: right; }


/* General rules */
a {
  font-weight: bold;
  text-decoration: none;
}
a:visited, a:link {
  color: $primary;
}
a:hover, a:active {
  color: $highlight;
}

body {
  font-family: sans-serif;
  background-color: $background;
  color: #444;
}

h1, h2, h3, h4, h5 {
  color: $primary;
}

/* Specific styles */
#title_main {
  color: $primary;
  font-weight: bold;
}

#title_second {
  color: $secondary;
}

.barelink {
  font-weight: normal;
  color: inherit;
}

.curpage {
  color: $highlight;
  font-weight: bold;
}

#wrapper {
  text-align:left;
  margin: 0px 30px;
}

div[role='main'] {
    padding: 1px 10px;
    background: white;
}

header {
  border-bottom: 1px solid $highlight;
  position: relative;
}
footer {
  border-top: 1px solid $highlight;
  position: relative;
}

#site_title {
  font-family: "Raleway Thin", sans-serif;
  font-size: 2.5em;
  float: left;
  margin-bottom: -0.5em;
  position: relative;
  top: 0.25em;
  left: -0.25em;
}

nav li {
  margin: 0px 2px;
}

header ul {
  display: inline;
}

#topnav {
  float: right;
  font-size: 1em;
  margin-top: 1.5em;
}

#bottomnav {
  position: absolute;
  right: 0px;
  top: 0px;
}

.articleimg {
  float: left;
  margin: 0px 20px 20px 0px;
}

ul.nav {
  a {
    &:before { content: '['; }
    &:after { content: ']'; }
  }
}

ul.tile_list {
  li {
    z-index: 0;
    position: relative;
    width: 230px;
    height: 230px;
    margin: 10px;
    padding: 10px;
    float: left;
    border-radius: 5px;
    text-shadow: white 1px 1px;

    h2,h3 { margin-top: 0px; }

    .imgcover {
      position: absolute;
      top:0px;
      left:0px;
      background: rgba(255,255,255,0.75);
      width: 250px;
      height: 250px;
      z-index: -1;
      border-radius: 4px;
    }
  }
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear: both;
  }
}

#the_lights {
  position: absolute;
  right:0px;
  top:0px;
  padding: 5px;
  z-index: 10;
  a {
    font-size: 80%;
  }
}

@import "dark";
